body {
    background-color: #e4edf4;
    font-family:'Times New Roman', Times, serif sans-serif;
    margin: 0;
    padding: 0;
}




.eb-garamond-uniquifier {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 80px;
  font-style: normal;
}



.menu {
    background-color: #f7f5f0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 0 50px;
    box-sizing: border-box;
}

.company-name {
    font-size: 150%; /* Increased font size */
    font-weight:500;
    color: #496e83; /* Set text color */

}

.left-column {
    font-size: 2em; /* Adjust font size as needed */
    font-weight: bold;
    color: #333;
    line-height: 1.4;
    max-width: 60%; /* Limit the width to prevent overflow */
    text-align: left; /* Align text to the left */
    
}

.right-column {
    font-size: 100px; /* Adjust font size as needed */
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4;
    max-width: 60%; /* Limit the width to prevent overflow */
    text-align:right; /* Align text to the left */
    color: #496e83; /* Set text color */
    

    

}


/* Existing styles above remain unchanged */

.about-container {
    padding: 20px; /* Equal padding on all sides */
    background-color: #f0f0f0; /* Background color for the about section */
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}

.about-content {
    display: flex;
    justify-content: space-between; /* Space between text and image */
    align-items: center;
}

.text-section {
    flex: 1; /* Takes available space */
    margin-right: 20px; /* Space between text and image */
}

.text-section h2 {
    margin-top: 0;
}

.image-section {
    flex: 1; /* Takes available space */
    display: flex;
    justify-content: center; /* Centers the image horizontally */
}

.image-section img {
    height: 500px;
    width:250px;
   
    border-radius: 10px; /* Optional: Adds rounded corners to the image */
}




